# =========================
# .NET / Build
# =========================
bin/
obj/
Debug/
Release/
x64/
x86/
publish/
out/

# =========================
# NuGet
# =========================
*.nupkg
*.snupkg
packages/

# =========================
# Visual Studio
# =========================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# =========================
# Rider / JetBrains
# =========================
.idea/
*.sln.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS files
# =========================
Thumbs.db
Desktop.ini
.DS_Store

# =========================
# Environment files
# =========================
.env
.env.*
appsettings.Development.json
appsettings.Local.json
appsettings.json
**/Migrations/
**/*ModelSnapshot.cs

# =========================
# User secrets
# =========================
secrets.json